html {
  //font-size: 18px;
}

body {
  background: #f8f8f8;
}

.book-menu {
  font-size: 0.95rem;

  .book-menu-content {
    background: #e8e8e8;
  }

  a.active {
    font-weight: bold;
  }
}

.book-toc {
  font-size: 0.95rem;
  background: #e8e8e8;
}

.markdown {
  code {
    background: #e8e8e8;
  }
  pre {
    background: #e2e2e2;
  }
}
